.container__exchange-rates {
    margin: 20px;
}

.text__h2--exchange-rates {
    color: #aaa;
    font-family: arial-black;
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}
