.container__blockCurrency {
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    width: 150px;
}

.text__bodyCopy {
    color: '#363636';
    font-size: 12px;
    line-height: 2;
}

.text__bold {
    font-weight: bold;
}
