.container__blockCalculator {
    background: #fff;
    border-radius: 6px;
    clear: both;
    margin: 20px;
    padding: 20px;
}

.text__bodyCopy {
    color: #363636;
    font-size: 12px;
    line-height: 2;
}

.form__formGroup {
    margin-bottom: 20px;
}

.text__h2 {
    color: #aaa;
    font-family: arial-black;
    font-size: 15px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.form__selectField {
    font-size: 17px;
}

.form__textField {
    font-size: 24px;
    margin-right: 20px;
    padding: 10px;
    text-align: right;
    width: 50%;
}
