.nav__button {
    border: 0;
    cursor: pointer;
    height: 30px;
    outline: none;
    position: absolute;
    right: 20px;
    top: 16px;
    width: 30px;
    // icon
    background-color: #fff;
    -webkit-mask: url(/assets/img/icon-menu.svg) no-repeat;
    mask: url(/assets/img/icon-menu.svg) no-repeat;
    mask-size: 30px;
    -webkit-mask-size: 30px;

    // text-indent: 1000px;

    &.open {
        -webkit-mask: url(/assets/img/icon-close.svg) no-repeat;
        mask: url(/assets/img/icon-close.svg) no-repeat;
    }
}

.nav__menu {
    background: #2d2d2d;
    color: #fff;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 60px;

    li {
        cursor: pointer;
        padding: 15px;

        &:hover {
            background: #222;
            color: #09c;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.nav__money-code {
    color: #fff;
    font-size: 12px;
    position: absolute;
    right: 70px;
    text-transform: uppercase;
    top: 26px;
}

// .overlay__mask {
//     background: #fff;
//     bottom: 0;
//     left: 0;
//     opacity: 0.7;
//     position: fixed;
//     right: 0;
//     top: 0;
// }
